<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booketeer</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="movie-container">
      <span>Pick a movie:</span>
      <select id="movie">
        <option value="10">Avengers Endgame($10)</option>
        <option value="12">Batman($12)</option>
        <option value="8">Spiderman($8)</option>
        <option value="5">He-man($5)</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    <div class="container">
      <div class="screen"></div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
      </div>
    </div>

    <p class="text">
      You have Selected <span id="count">0</span> seats for price of $<span
        id="total"
        >0</span
      >
    </p>
    <div class="checkout">
      <button>Proceed to pay</button>
    </div>
    <script>
      let movieSelect = document.querySelector("#movie");
      const seats = document.querySelectorAll(".row .seat:not(.occupied)");
      const total = document.querySelector("#total");
      const seatCount = document.querySelector("#count");
      const container = document.querySelector(".container");
      let selectedSeats;
      selectedSeats = document.querySelectorAll(".row .seat.selected");
      let ticketPrice = parseInt(movieSelect.value);
      let btn = document.querySelector("button");

      // populateUI();

      function setMovieData(movieIndex, moviePrice) {
        localStorage.setItem("MovieName", movieIndex);
        localStorage.setItem("MoviePrice", moviePrice);
      }

      const updateCount = () => {
        selectedSeats = document.querySelectorAll(".row .seat.selected");
        seatCount.innerText = selectedSeats.length;
        total.innerText = selectedSeats.length * ticketPrice;

        //Payout Button visibility
        if (selectedSeats.length > 0) {
          console.log(selectedSeats.length);
          btn.style.visibility = "visible";
        } else btn.style.visibility = "hidden";

        const seatsIndex = [...selectedSeats].map((seat) => {
          return [...seats].indexOf(seat);
        });
        localStorage.setItem("SelectedSeats", JSON.stringify(seatsIndex));
        console.log(seatsIndex);
      };

      //Movie Select
      movieSelect.addEventListener("change", (e) => {
        ticketPrice = parseInt(e.target.value);
        setMovieData(e.target.selectedIndex, e.target.value);
        updateCount();
      });

      //Retrieving data from local storage and populating it on UI
      function populateUI() {
        const selectedSeats = JSON.parse(localStorage.getItem("SelectedSeats"));
        if (selectedSeats.length > 0 && selectedSeats !== null) {
          selectedSeats.forEach((seat) => {
            seats[seat].classList.toggle("selected");
          });
        }
        const selectedMovieIndex = localStorage.getItem("MovieName");
        if (selectedMovieIndex !== null) {
          movieSelect.selectedIndex = selectedMovieIndex;
        }
        console.log("Populated" + selectedSeats);
      }

      //Seat Select
      container.addEventListener("click", (e) => {
        if (
          e.target.classList.contains("seat") &&
          !e.target.classList.contains("occupied")
        ) {
          e.target.classList.toggle("selected");
          updateCount();
        }
      });
      updateCount();
    </script>
  </body>
</html>
