<%- include("./partials/header") %>

<div class="container">
  <h1 class="m-3 p-3">Welcome to the Booketeer!</h1>
  <h3 class="m-3 p-2">
    Book tickets,compare movies ,get notified and much more
  </h3>
  <h2 class="p-3 m-3">Your ultimate movie corner!</h2>

  <h3 class="p-3 m-3"><a href="/book">Book Ticket!</a></h3>
</div>
<%- include("./partials/footer") %>
