<%- include("./partials/header") %>

<div class="container text-center">
  <h2 class="h1 p-3 m-4">Sign up today with Booketeer:-</h2>
  <form action="/register" method="POST">
    <div class="form-group">
      <input
        name="username"
        type="text"
        class="form-control m-5 p-3"
        placeholder="Enter Username"
      />
      <input
        name="age"
        type="number"
        class="form-control m-5 p-3"
        placeholder="Enter age"
      />
      <input
        name="password"
        type="password"
        class="form-control m-5 p-3"
        placeholder="Enter password"
      />
      <button class="btn btn-primary m-3 p-3">Register</button>
    </div>
  </form>
</div>

<%- include("./partials/footer") %>
